<a href="https://colab.research.google.com/github/mariliabrito/gunviolence/blob/main/Gun_Violence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import date

In [2]:
# Dataset do gun violence archive

df = pd.read_csv("https://raw.githubusercontent.com/mariliabrito/gunviolence/main/export-24c51230-e525-4775-91ec-912dc1cbce37.csv")
df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2574455,"April 17, 2023",Maryland,Baltimore,2000 block of Charles St,0,4,NaN
1,2574091,"April 16, 2023",Mississippi,Biloxi,2466 Beach Blvd,0,5,NaN
2,2574324,"April 16, 2023",Georgia,Keysville,Tyrone Brooks Dr,0,4,NaN
3,2573266,"April 15, 2023",Kentucky,Louisville,1200 Southwestern Pkwy,2,4,NaN
4,2573436,"April 15, 2023",Alabama,Dadeville,220 N Broadnax St,4,32,NaN

In [7]:
df2 = pd.read_excel('https://query.data.world/s/gz22665egkb5bcdtjxjqh3x2z6frug?dws=00000')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 1 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   K-12 School Shooting Database  12 non-null     object
dtypes: object(1)
memory usage: 256.0+ bytes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Incident ID     2000 non-null   int64
 1   Incident Date   2000 non-null   object
 2   State           2000 non-null   object
 3   City Or County  2000 non-null   object
 4   Address         1990 non-null   object
 5   # Killed        2000 non-null   int64
 6   # Injured       2000 non-null   int64
 7   Operations      0 non-null      float64
dtypes: float64(1), int64(3), object(4)
memory usage: 125.1+ KB

In [4]:
df.isna().sum()

Incident ID          0
Incident Date        0
State                0
City Or County       0
Address             10
# Killed             0
# Injured            0
Operations        2000
dtype: int64